<hr />
		<footer>
			<p><a href="/" target="_blank">Company</a> 2013</p>
		</footer>
	</div>
  </body>
   <script src="/javascripts/jquery.js"></script>
   <script src="/javascripts/bootstrap.js"></script>
</html>